<main class="contact center">
  <section class="left">
    <div class="contact__figures">
      <img
        loading="lazy"
        src="assets/images/messege-4.2.png"
        id="msg42"
        alt=""
      />
      <img
        loading="lazy"
        src="assets/images/messege-4.3.png"
        id="msg43"
        alt=""
      />
      <img
        loading="lazy"
        src="assets/images/steps-mobile.png"
        id="step-mob"
        alt=""
      />
    </div>
  </section>
  <section class="right">
    <div class="contact__header">
      <h2 class="main-typo">Contact Us</h2>
      <p>Questions, bug reports, feedback.</p>
    </div>
    <div class="contact__form">
      <form action="">
        <div class="contact__field">
          <label for="email" class="contact__label">Your email</label>
          <input id="email" type="email" placeholder="Enter your email" />
        </div>
        <div class="contact__field">
          <label for="area" class="contact__label"
            >Tell us what you need help with:</label
          >
          <textarea
            id="area"
            rows="5"
            placeholder="Enter a topic, like channel problem..."
          ></textarea>
        </div>
        <div class="contact__buttons">
          <app-button title="Send now" className="btn-primary"></app-button>
        </div>
      </form>
    </div>
  </section>
</main>
