<nav class="navbar">
  <div class="navbar__logo">
    <a href="/Solo/"> <img [src]="logo" alt="logo" /></a>
  </div>
  <div class="navbar__menu">
    <div
      class="burger-icon"
      [ngClass]="isMenuOpen ? 'openedMenu' : 'closedMenu'"
      (click)="toggleMenu()"
    >
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar__items hide">
    <ul>
      <li *ngFor="let item of navMenuItems" class="navbar__item">
        <a
          [routerLink]="[item.link]"
          [routerLinkActive]="'active-link'"
          (click)="toggleMenu()"
        >
          {{ item.title }}</a
        >
      </li>
      <div class="navbar__buttons">
        <app-button title="Sign up" className="btn-primary"></app-button>
      </div>
    </ul>
    <div class="navbar__figure">
      <img src="assets/images/navbar.png" alt="" />
    </div>
  </div>
</nav>
