<div class="container">
  <header class="center">
    <app-navbar [logo]="Logo"></app-navbar>
  </header>
  <body>
    <router-outlet></router-outlet>
  </body>
  <footer>
    <app-footer
      (themeEvent)="changeThemeEvent($event)"
      [logo]="Logo"
    ></app-footer>
  </footer>
  <ng-container>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="large"
      color="#ff6e30"
      type="ball-scale-pulse"
      [fullScreen]="true"
      ><p style="color: white">Loading...</p></ngx-spinner
    >
  </ng-container>
</div>
