@import "../../styles/global";
.footer {
  margin-top: 3rem;
  color: var(--light-grey-text);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: $border;
    padding-bottom: 3rem;
  }
  &__text {
    max-width: 230px;
    font-weight: 500;
    color: var(--light-grey-text);
    margin-block: 2rem;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 138px;
    }
  }
  &__stores {
    display: flex;
    a {
      padding-inline: 0.5rem;
    }
  }
  &__navigation {
  }
  &__items {
    display: none;
  }
  &__item {
    font-weight: 600;
    line-height: 3rem;
    //    color: var(--light-grey-text);
  }
  &__bottom {
    @include flex-center-column;
    padding-block: 2rem;
  }
  &__rights {
    font-size: 13px;
    font-weight: 600;
    //    color: var(--light-grey-text);
  }
  &__social {
    display: flex;
    padding-block: 1rem;
    img {
      padding-inline: 0.5rem;
    }
  }
  @media screen and (min-width: 768px) {
    &__body {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
    &__logo {
      align-items: flex-start;
    }
    &__line {
      align-self: flex-start;
    }
  }
  @media screen and (min-width: 1023px) {
    &__body {
      align-items: flex-start;
      flex-direction: column;
    }
    &__line {
      @include flex-between;
      width: 100%;
      align-items: center;
    }
    &__stores {
      a:first-child {
        padding-left: 0;
      }
    }
    &__items {
      @include flex-between;
    }
    &__item {
      padding-inline: 1rem;
      font-size: 15px;
      padding-block: 0;
      color: var(--main-text);
      &:hover {
        color: var(--primary-text-color);
      }
    }
    &__bottom {
      padding-block: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
.active-link {
  color: var(--primary) !important;
}
