@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}
@mixin flex-center-column-vert {
  @include flex-column;
  justify-content: center;
}

@mixin flex-center-column-horiz {
  @include flex-column;
  align-items: center;
}
@mixin position-relative($top: null, $right: null, $bottom: null, $left: null) {
  position: relative;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
//position($position, $top: null, $right: null, $bottom: null, $left: null)
