<div class="home">
  <section class="hero center reveal">
    <div class="hero__text">
      <div class="stage">RISK-FREE 30 DAY TRIAL</div>
      <h1 id="hero-title" class="main-typo">
        <span>The best way</span>
        <span>to organize</span>
        <span>your work.</span>
      </h1>
      <div class="main-text">
        Organize your tasks, lists and reminders in one app.
      </div>
      <div class="hero__buttons">
        <app-button
          class="hero__button"
          title="Try it free"
          className="btn-primary"
        ></app-button>
        <app-button
          title="Watch how it works"
          class="hero__button"
          className="btn-secondary"
          icon="../../../../assets/icons/play.svg"
        ></app-button>
      </div>
    </div>
    <div class="hero__figures reveal">
      <img id="bike" src="assets/images/bike.png" alt="" />
      <img id="hero-fig" src="assets/images/hero-fig.png" alt="" />
    </div>
  </section>
  <section class="statistics center">
    <div class="statistics__top card card-dark">
      <div class="statistics__text reveal">
        <h2 class="main-typo light-text reveal" id="statis-title">
          <span>Keeping it all together</span>
        </h2>
        <p class="p-light">
          Just invite your team, Solo does all the heavy-lifting.
        </p>
        <app-button
          title="Schedule a demo"
          className="btn-tertiary"
        ></app-button>
      </div>
      <div class="statistics__top__gallery">
        <div class="statistics__top__figures reveal">
          <img
            loading="lazy"
            src="assets/images/messege-2.3.png"
            id="messege-23"
            alt=""
          />
          <img
            loading="lazy"
            src="assets/images/messege-2.4.png"
            id="messege-24"
            alt=""
          />
          <img
            loading="lazy"
            src="assets/images/mobile.png"
            id="mobile"
            alt=""
          />
          <img
            loading="lazy"
            src="assets/images/steps-earth.png"
            id="steps"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="statistics__bottom card card-light">
      <div class="statistics__items">
        <div class="statistics__item">
          <div class="statistics__amount">100<sup>+</sup></div>
          <div class="statistics__category">countries supported</div>
        </div>
        <div class="statistics__item">
          <div class="statistics__amount">28<sub>m</sub></div>
          <div class="statistics__category">Downloads on App Store</div>
        </div>
        <div class="statistics__item">
          <div class="statistics__amount">16<sub>m</sub></div>
          <div class="statistics__category">Verified Users</div>
        </div>
      </div>
    </div>
  </section>
  <section class="setup center">
    <div class="stage">INSTANT SETUP</div>
    <h2 class="main-typo reveal">
      <span>Fast, simple & effortless</span>
    </h2>
    <div class="setup__steps">
      <div class="setup__step">
        <svg-icon src="assets/icons/computers.svg"> </svg-icon>
        <div class="setup__number">Step 1</div>
        <div class="setup__text">Download the app</div>
      </div>
      <div class="setup__step">
        <svg-icon src="assets/icons/storage.svg"> </svg-icon>
        <div class="setup__number">Step 2</div>
        <div class="setup__text">Invite teammates</div>
      </div>
      <div class="setup__step">
        <svg-icon src="assets/icons/world-transaction.svg"> </svg-icon>
        <div class="setup__number">Step 3</div>
        <div class="setup__text">Create workspace</div>
      </div>
      <div class="setup__step">
        <svg-icon src="assets/icons/business-products.svg"> </svg-icon>
        <div class="setup__number">Step 4</div>
        <div class="setup__text">Track performance</div>
      </div>
    </div>
    <div class="setup__figures">
      <img
        loading="lazy"
        src="assets/images/figures-8.png"
        id="setup-figure"
        alt=""
      />
    </div>
  </section>
  <section class="features center">
    <div class="text-section">
      <div class="stage">AMAZING FEATURES</div>
      <h2 class="main-typo reveal">
        <span>See what you can do in one app</span>
      </h2>
    </div>
    <div class="features__feature">
      <div class="features__images active">
        <img loading="lazy" src="assets/images/features-1.png" alt="" />
        <img loading="lazy" src="assets/images/cube.png" id="f1-cube" alt="" />
        <img loading="lazy" src="assets/images/ball.png" id="f1-ball" alt="" />
      </div>
      <div class="features__text reveal">
        <span>Stay focused whenever, wherever</span>
        <p>
          We're a growing family of 382,081 designers and makers from around the
          world
        </p>
        <app-button
          title="Watch how it work"
          className="btn-secondary"
        ></app-button>
      </div>
    </div>
    <div class="features__feature">
      <div class="features__images">
        <img loading="lazy" src="assets/images/features-2.png" alt="" />
        <img loading="lazy" src="assets/images/cube.png" id="f2-cube" alt="" />
        <img
          loading="lazy"
          src="assets/images/triangle.png"
          id="f2-triangle"
          alt=""
        />
      </div>
      <div class="features__text reveal">
        <span>Share files at the right time</span>
        <p>
          We're a growing family of 382,081 designers and makers from around the
          world
        </p>
        <app-button
          title="Get Solo Desktop"
          className="btn-secondary"
        ></app-button>
      </div>
    </div>
    <div class="features__feature reveal">
      <div class="features__images">
        <img loading="lazy" src="assets/images/features-3.png" alt="" />
        <img loading="lazy" src="assets/images/cube.png" id="f3-cube" alt="" />
        <img loading="lazy" src="assets/images/ball.png" id="f3-ball" alt="" />
      </div>
      <div class="features__text reveal">
        <span>Collaborate from anywhere</span>
        <p>
          We're a growing family of 382,081 designers and makers from around the
          world
        </p>
        <app-button
          title="Schedule a demo"
          className="btn-secondary"
        ></app-button>
      </div>
    </div>
  </section>
  <section class="history center">
    <div class="card card-primary">
      <div class="history__figures">
        <img
          loading="lazy"
          src="assets/images/messege-3.2.png"
          id="h-msg-23"
          alt=""
        />
        <img
          loading="lazy"
          src="assets/images/messege-3.3.png"
          id="h-msg-33"
          alt=""
        />
        <img
          loading="lazy"
          src="assets/images/search-fig.png"
          id="search-fig"
          alt=""
        />
      </div>
      <div class="history__text">
        <div class="stage">EASILY FIND WHAT YOU’RE LOOKING FOR</div>
        <h2 class="main-typo reveal">
          <span> History you can see and search </span>
        </h2>
        <p>
          We're a growing family of 382,081 designers and makers from around the
          world
        </p>
        <app-button title="Learn more" className="btn-secondary"></app-button>
      </div>
    </div>
  </section>

  <section class="advantages center">
    <app-advantages></app-advantages>
  </section>
  <section class="integrations center">
    <div class="integrations__text">
      <div class="stage">AMAZING FEATURES</div>
      <h2 class="main-typo reveal">
        <span>Powerful integrations</span>
      </h2>
      <div class="main-text">
        We're a growing family of 382,081 designers and makers from around the
        world
      </div>
    </div>
    <div class="integrations__content reveal">
      <div class="integrations__column">
        <div class="integrations__integration" id="integ-1">
          <svg-icon src="assets/icons/notion.svg" alt=""></svg-icon>
        </div>
        <div class="integrations__integration" id="integ-2">
          <svg-icon src="assets/icons/figma.svg" alt=""></svg-icon>
        </div>
      </div>
      <div class="integrations__column">
        <div class="integrations__integration" id="integ-3">
          <svg-icon src="assets/icons/atom.svg" alt=""></svg-icon>
        </div>
        <div class="integrations__integration" id="integ-4">
          <svg-icon src="assets/icons/sketch.svg" alt=""></svg-icon>
        </div>
        <div class="integrations__integration" id="integ-5">
          <svg-icon src="assets/icons/google.svg" alt=""></svg-icon>
        </div>
      </div>
      <div class="integrations__column">
        <div class="integrations__integration" id="integ-6">
          <svg-icon src="assets/icons/dribbble.svg" alt=""></svg-icon>
        </div>
        <div class="integrations__integration" id="integ-7">
          <svg-icon src="assets/icons/ui8.svg" alt=""></svg-icon>
        </div>
      </div>
    </div>
  </section>
  <section class="description center">
    <div class="description__feature" id="feature-1">
      <div class="description__text">
        <div class="stage">AMAZING FEATURES</div>
        <h2 class="main-typo reveal">
          <span>Your busy life deserves this</span>
        </h2>
        <p>
          We're a growing family of 382,081 designers and makers from around the
          world
        </p>
        <app-button
          title="Lunch Solo Desktop App"
          className="btn-secondary"
        ></app-button>
      </div>
      <div class="description__figures">
        <img
          loading="lazy"
          src="assets/images/messege-4.2.png"
          id="msg42"
          alt=""
        />
        <img
          loading="lazy"
          src="assets/images/messege-4.3.png"
          id="msg43"
          alt=""
        />
        <img
          loading="lazy"
          src="assets/images/steps-mobile.png"
          id="step-mob"
          alt=""
        />
      </div>
    </div>
    <div class="description__feature" id="feature-2">
      <div class="description__text">
        <div class="stage">AMAZING FEATURES</div>
        <h2 class="main-typo reveal">
          <span>Never forget anything, ever again</span>
        </h2>
        <p>
          We're a growing family of 382,081 designers and makers from around the
          world
        </p>
        <app-button
          title="Find out more"
          className="btn-secondary"
        ></app-button>
      </div>
      <div class="description__figures reveal">
        <img loading="lazy" src="assets/images/cloud.png" id="cloud" alt="" />
        <img
          loading="lazy"
          src="assets/images/figures-5.1.png"
          id="fig51"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="productivity center">
    <div class="card card-primary">
      <div class="productivity__top">
        <div class="productivity__text">
          <div class="stage">DEEP FOCUS & MULTITASKING</div>
          <h2 class="main-typo reveal">
            <span> Increase Productivity</span>
          </h2>
          <p>
            We're a growing family of 382,081 designers and makers from around
            the world
          </p>
          <app-button
            title="Sign up now"
            className="btn-secondary"
          ></app-button>
        </div>
        <div class="productivity__figures reveal">
          <img
            loading="lazy"
            src="/assets/images/productivity-main.png"
            id="prod-main"
            alt=""
          />
          <img
            loading="lazy"
            src="/assets/images/productivity.png"
            id="prod"
            alt=""
          />
        </div>
      </div>
      <div class="productivity__items">
        <div class="productivity__item">
          <div class="productivity__icon">
            <svg-icon src="assets/icons/flick-up.svg"></svg-icon>
          </div>
          <div class="productivity__description reveal">
            <span class="sub-title">Use a simple way</span>
            <p>
              We're a growing family of 382,081 designers and makers from around
              the world
            </p>
          </div>
        </div>
        <div class="productivity__item">
          <div class="productivity__icon">
            <svg-icon src="assets/icons/video.svg"></svg-icon>
          </div>
          <div class="productivity__description reveal">
            <span class="sub-title">A productivity platform</span>
            <p>
              We're a growing family of 382,081 designers and makers from around
              the world
            </p>
          </div>
        </div>
        <div class="productivity__item">
          <div class="productivity__icon">
            <svg-icon src="assets/icons/time-clock.svg"></svg-icon>
          </div>
          <div class="productivity__description reveal">
            <span class="sub-title">Save your time</span>
            <p>
              We're a growing family of 382,081 designers and makers from around
              the world
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="reviews center">
    <div class="reviews__text">
      <h2 class="main-typo reveal">
        <span>What people are saying</span>
      </h2>
    </div>
    <app-reviews></app-reviews>
  </section>
  <section class="start center">
    <div class="card card-dark">
      <div class="start__text">
        <h2 class="main-typo light-text reveal d1">
          <span>Get started with Solo today</span>
        </h2>
        <div class="main-text">
          Just invite your team, Solo does all the heavy-lifting.
        </div>
        <app-button title="Try it free" className="btn-primary"></app-button>
      </div>
      <div class="start__figures">
        <img
          loading="lazy"
          src="assets/images/messege-7.2.png"
          id="msg72"
          alt=""
        />
        <img
          loading="lazy"
          src="assets/images/get-started.png"
          id="get-started"
          alt=""
        />
      </div>
    </div>
  </section>
</div>
